body {
    background: rgb(5, 107, 141)
}

#slots {
    background: white;
    margin: 100px auto;
    height: 264px;
    width: 800px;
    display: flex;
}

#slot, #slot2, #slot3 {
    height: 264px;
    width: 264px;
    background-color: white;
    border: 4px solid black;
    flex-direction: column;
    text-align: center;
    line-height: 100px;
    font: 80px solid black;
    line-height: 230px;
}

#resultMessage {
    text-align: center;
    font: 50px solid black;
}

#bank {
    font-size: 30px;
    position: absolute;
    top: 80%;
    right: 10%;
}

button {
    position: absolute;
    top: 80%;
    right: 47%;
    height: 40px;
    width: 60px;
}